@charset "UTF-8";
/* Resetear estilos */
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

/* Variables de tipografía - Inicio */
/* Tipografía Oswald */
.oswald-weight-700 {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

/* Tipografía Montserrat */
.montserrat-500 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

/* Variables de tipografía - Fin */
.btn1 {
  width: 100px;
  height: 50px;
  border: 5px;
  padding: 10px;
}

#header__section {
  font-family: Oswald, sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-height: 15vh;
  height: auto;
  gap: 100px;
  background-color: #000000;
  color: #0071bc;
}
#header__section #header__section__img {
  margin-left: 50px;
  max-width: 120px;
}
#header__section h1 {
  font-size: 1.5rem;
}

#header__nav {
  min-height: 8vh;
  height: auto;
  background-color: #0071bc;
  color: #ffffff;
  font-size: 0.8rem;
  font-family: Montserrat, sans-serif;
}
#header__nav .navbar-brand {
  text-shadow: 2px 2px 2px #000000;
  font-size: 0.9rem;
}
#header__nav #navbarSupportedContent #header__nav__ul .nav-item {
  margin-left: 10px;
}
#header__nav #navbarSupportedContent #header__nav__ul .header__nav__ul__li {
  text-decoration: none;
}
#header__nav #navbarSupportedContent #header__nav__ul .header__nav__ul__li .active a {
  text-shadow: 2px 2px 2px #000000;
}
#header__nav #navbarSupportedContent #header__nav__ul .header__nav__ul__li a {
  color: #ffffff;
}
#header__nav #navbarSupportedContent #header__nav__ul .header__nav__ul__li a hover {
  color: #fa8375;
}

#main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 67vh;
  height: auto;
  gap: 20px;
  color: #000000;
  font-family: Lato, sans-serif;
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 1.2rem;
}
#main #main__section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 20px 0px 20px;
  gap: 0px;
}

#footer {
  min-height: 10vh;
  height: auto;
  color: #ffffff;
  background-color: #000000;
  font-weight: 100;
  font-size: 12px;
  text-decoration: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
#footer #footer__section__p {
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
  gap: 2px;
  margin-left: 40px;
}
#footer #footer__section__rrss {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  font-size: 1rem;
  margin-right: 40px;
}
#footer #footer__section__rrss a {
  color: #ffffff;
  text-decoration: none;
}

#main #main__section #main__section__presentacion p {
  margin-bottom: 0px;
}
#main #main__section #main__section__presentacion #main__section__presentacion__ul {
  padding-left: 40px;
  font-style: italic;
  font-weight: 400;
}
#main #main__section picture #main__section__img {
  max-width: 400px;
}

.card-img-top {
  max-width: 200px;
  max-height: 200px;
  align-self: center;
}

#main__section_contacto {
  margin-top: 20px;
}
#main__section_contacto #main__section__contacto_descrip,
#main__section_contacto #main__section__contacto_descrip_mobile {
  color: #000000;
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  font-size: 0.9rem;
  text-align: center;
  line-height: 1.4rem;
}
#main__section_contacto #main__section__contacto_descrip_mobile {
  display: none;
}
#main__section_contacto #main__section__form {
  font-family: Lato, sans-serif;
  font-size: 0.8rem;
  line-height: 1.2rem;
}
#main__section_contacto #main__section__form label {
  font-weight: 800;
  color: #0071bc;
}
#main__section_contacto #main__section__form input,
#main__section_contacto #main__section__form textarea,
#main__section_contacto #main__section__form select {
  font-weight: 400;
}
#main__section_contacto #main__section__form .form-group,
#main__section_contacto #main__section__form button {
  margin: 10px 40px 10px 40px;
}
#main__section_contacto #main__section__form #main__section__form__btn__submit {
  margin-left: 70% !important;
  background-color: #0071bc;
  width: 100px;
}
#main__section_contacto #main__section__contacto_image__img {
  max-width: 500px;
  align-self: center;
  border-radius: 20px;
  border: 2px solid #0071bc;
}

#main__section__galeria {
  margin-top: 20px;
  margin-bottom: 20px;
}
#main__section__galeria .row {
  align-items: center;
}
#main__section__galeria .row #main__section__galeria__label {
  font-family: Montserrat, sans-serif;
  font-size: 0.8rem;
  align-items: center;
}
#main__section__galeria #main__section__galeria__select {
  font-size: 0.8rem;
}

#main__section__galeria__img {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
  justify-items: center;
  align-items: center;
}
#main__section__galeria__img .card {
  width: 18rem;
  height: 14rem;
  border: 1px solid #eaa315;
  font-family: Montserrat, sans-serif;
  text-align: center;
}
#main__section__galeria__img .card .card-title {
  font-size: 1rem;
  font-weight: 600;
  color: #0071bc;
}
#main__section__galeria__img .card .card-text {
  font-size: 0.8rem;
  font-weight: 400;
  color: #000000;
}

#section_productos_listado {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
  justify-items: center;
  align-items: center;
}
#section_productos_listado .card {
  width: 95%;
  min-height: 100%;
  border: 2px solid #0071bc;
  font-family: Montserrat, sans-serif;
  text-align: center;
}
#section_productos_listado .card .card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
#section_productos_listado .card .card-title {
  font-size: 1rem;
  font-weight: 600;
  color: #000000;
}
#section_productos_listado .card .card-text {
  padding-top: 10px;
  font-size: 0.8rem;
  font-weight: 600;
  color: #0071bc;
}
#section_productos_listado .card .card-img-top {
  height: 70%;
  width: auto;
  max-width: 60%;
  border: 1px solid #000000;
  border-radius: 10%;
}

/********************************************************/
/***********************MOVILES**************************/
/********************************************************/
@media screen and (max-width: 600px) {
  #header__section {
    min-height: 10vh;
    justify-content: center;
    gap: 20px;
  }
  #header__section #header__section__img {
    margin-left: 0px;
    max-width: 80px;
  }
  #header__section h1 {
    font-size: 1rem;
  }
  #main {
    min-height: 60vh;
    height: auto;
  }
  #main #main__section {
    padding: 10px 20px 10px 20px;
    gap: 10px;
    flex-direction: column;
  }
  #main #main__section #main__section__presentacion {
    margin-top: 1rem;
  }
  #main #main__section #main__section__img {
    max-width: 300px;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  #main #main__section #main__section__presentacion__ul {
    padding-left: 10px;
  }
  #footer {
    min-height: 10vh;
    height: auto;
    flex-direction: column;
    padding: 0px;
  }
  #footer #footer__section__p {
    margin: 0px;
    padding-top: 0.5rem;
    font-size: 0.9rem;
    text-align: center;
  }
  #footer #footer__section__p p {
    margin: 0px;
    text-align: center;
  }
  #footer #footer__section__rrss {
    gap: 50px;
    margin-right: 0px;
    padding-top: 10px;
    padding-bottom: 0.5rem;
  }
  #footer #footer__section__rrss a {
    font-size: 1.5rem;
  }
  /*PRODUCTOS*/
  #section_productos_listado {
    padding-top: 10px;
    padding-bottom: 10px;
    grid-template-columns: repeat(1, 1fr);
  }
  #section_productos_listado .card {
    padding: 0px;
  }
  /*CONTACTO*/
  #main__section_contacto {
    margin-top: 0px;
  }
  #main__section_contacto #main__section__contacto_image__img,
  #main__section_contacto #main__section__contacto_descrip {
    display: none;
  }
  #main__section_contacto #main__section__contacto_descrip_mobile {
    display: block;
  }
}
/********************************************************/
/***********************TABLETS**************************/
/********************************************************/
@media screen and (min-width: 601px) and (max-width: 767.98px) {
  #header__section {
    min-height: 10vh;
    justify-content: center;
    gap: 20px;
  }
  #main {
    min-height: 60vh;
    height: auto;
  }
  #main #main__section__img {
    max-width: 300px;
  }
  #footer {
    min-height: 10vh;
    height: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    flex-direction: column;
  }
  #footer #footer__section__p p {
    margin: 0px;
    padding: 0px;
    text-align: center;
    font-size: 0.9rem;
  }
  #footer #footer__section__rrss {
    gap: 50px;
    margin-right: 0px;
    padding-top: 10px;
    font-size: 1.6rem;
  }
  /*PRODUCTOS*/
  #section_productos_listado {
    padding-top: 10px;
    padding-bottom: 10px;
    grid-template-columns: repeat(1, 3fr);
  }
  #section_productos_listado .card {
    padding: 0px;
  }
  /*CONTACTO*/
  #main__section_contacto {
    margin-top: 0px;
  }
  #main__section_contacto #main__section__contacto_image__img {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1400px) {
  #footer {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  #footer #footer__section__p p {
    font-size: 0.8rem;
    margin: 0px;
  }
  #footer #footer__section__rrss a {
    font-size: 1.2rem;
  }
  #main__section__img {
    max-width: 400px;
  }
  /*PRODUCTOS*/
  #section_productos_listado {
    padding-top: 10px;
    padding-bottom: 10px;
    grid-template-columns: repeat(4, 1fr);
  }
  #section_productos_listado .card {
    padding: 0px;
  }
  #section_productos_listado .card .card-title {
    font-size: 0.9rem;
  }
  /*GALERIA*/
  #main__section__galeria__img {
    grid-template-columns: repeat(3, 1fr);
    padding-bottom: 20px;
  }
  /** CONTACTO **/
  #main__section_contacto #main__section__contacto_descrip p {
    margin-top: 0px;
    font-size: 0.8rem;
  }
  #main__section_contacto #main__section__form label,
  #main__section_contacto #main__section__form input,
  #main__section_contacto #main__section__form textarea,
  #main__section_contacto #main__section__form select {
    margin: 0px;
    font-size: 0.7rem;
  }
  #main__section_contacto #main__section__contacto_image #main__section__contacto_image__img {
    margin-top: 10%;
    max-width: 350px;
  }
}
/*
@media screen and (min-width: 1401px) {
  #footer {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    #footer__section__p {
      p {
        font-size: 0.9rem;
        margin: 0px;
      }
    }
    #footer__section__rrss {
      a {
        font-size: 1.6rem;
      }
    }
  }
  #main {
    gap: 10px;
    #main__section__img {
      max-width: 500px;
    }
  }

}
*/

/*# sourceMappingURL=styles.css.map */
