#section__acerca {
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  #section__acerca__descrip {
    font-size: 0.9rem;
    text-align: left;
    line-height: 1.4rem;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
    
  }
  #section__acerca__descrip2 {
    font-size: 0.8rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 20px;
    h2 {
      margin-top: 10px;
      font-size: 1.2rem;
      text-align: center;
    }
    #section__acerca__mision {
      width: calc(50% - 80px);
      margin-top: 20px;
      margin-left: 40px;
      border: 1px solid rgba(0, 0, 0, 0.175);
      border-radius: 10px;
    }
    #section__acerca__vision {
      width: calc(50% - 80px);
      margin-top: 20px;
      margin-right: 40px;
      border: 1px solid rgba(0, 0, 0, 0.175);
      border-radius: 10px;
    }
    .section__acerca__misionvision {
      margin: 0px;
      padding: 0px;
      .section__acerca__misionvision__descrip {
        display: flex;
        flex-direction: row;
        text-align: left;
        align-items: center;
        p {
          color: $color-azul;
          padding-left: 20px;
          padding-right: 20px;
        }
        .section__acerca__misionvision__img {
          display: block;
          max-width: 100px;
        }
      }
    }
  }
  #section__acerca__equipo {
    padding-top: 40px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
    h2 {
      font-size: 1.2rem;
      text-align: center;
    }
    p {
      color: $color-azul;
    }
    .card-equipo {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 10px;

      .card-title {
        font-size: 0.9rem;
        font-weight: 600;
        color: $color-negro;
        text-align: center;
      }
      .card-content {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 10px;
        .card-text {
          font-size: 0.8rem;
          font-weight: 600;
          color: $color-azul;
        }
        .card-img-top {
          max-width: 180px;
          max-height: 180px;
          align-self: center;
          &:hover {
            animation-name: girar_imagen;
            animation-duration: 1s;
          }
        }
      }
    }
  }
}
