@use "presets/variables";

#main__section_contacto {
  margin-top: 20px;
  #main__section__contacto_descrip,
  #main__section__contacto_descrip_mobile {
    color: variables.$color-negro;
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    font-size: 0.9rem;
    text-align: center;
    line-height: 1.4rem;
  }
  #main__section__contacto_descrip_mobile {
    display: none;
  }
  #main__section__form {
    font-family: Lato, sans-serif;
    font-size: 0.8rem;
    line-height: 1.2rem;
    label {
      font-weight: 800;
      color: variables.$color-azul;
    }
    input,
    textarea,
    select {
      font-weight: 400;
    }
    .form-group,
    button {
      margin: 10px 40px 10px 40px;
    }
    #main__section__form__btn__submit {
      margin-left: 70% !important;
      background-color: variables.$color-azul;
      width: 100px;
    }
  }
  #main__section__contacto_image__img {
    max-width: 500px;
    align-self: center;
    border-radius: 20px;
    border: 2px solid variables.$color-azul;
  }
}
