#main__section_contacto {
    margin-top: 20px;
  }
  
  #main__section__contacto_descrip,
  #main__section__contacto_descrip_mobile {
    color: $color-negro;
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    font-size: 0.9rem;
    text-align: center;
    line-height: 1.4rem;
  }
  
  #main__section__contacto_descrip_mobile {
    display: none;
  }
  
  #main__section__form label {
    font-family: Lato, sans-serif;
    font-weight: 800;
    font-size: 0.8rem;
    color: $color-azul;
    line-height: 1.2rem;
  }
  
  #main__section__form input,
  #main__section__form textarea,
  #main__section__form select {
    font-family: Lato, sans-serif;
    font-weight: 400;
    font-size: 0.8rem;
    line-height: 1.2rem;
  }
  
  #main__section__form .form-group,
  #main__section__form button {
    margin: 10px 40px 10px 40px;
  }
  #main__section__contacto_image__img {
    max-width: 500px;
    align-self: center;
    border-radius: 20px;
    border: 2px solid $color-azul;
  }
  
  #main__section__form__btn__submit {
    margin-left: 70% !important;
    background-color: $color-azul;
    width: 100px;
  }  