#main {
  #main__section {
    #main__section__presentacion {
      p {
        margin-bottom: 20px;        
      }
      #main__section__presentacion__ul {
        padding-left: 40px;
        font-style: italic;
        font-weight: 400;
      }
    }
    picture #main__section__img {
      max-width: 400px;
    }
  }
}
