#section_productos_listado {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
  justify-items: center;
  align-items: center;
  .card {
    width: calc(95%);
    min-height: calc(100%);
    border: 2px solid $color-azul;
    font-family: Montserrat, sans-serif;
    text-align: center;
    .card-body {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
    }
    .card-title {
      font-size: 1rem;
      font-weight: 600;
      color: $color-negro;
    }
    .card-text {
      padding-top: 10px;
      font-size: 0.8rem;
      font-weight: 600;
      color: $color-azul;
    }
    .card-img-top {
      height: 70%;
      width: auto;
      max-width: 60%;
      border: 1px solid $color-negro;
      border-radius: 10%;
    }
  }
}
