#section_productos_listado {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  justify-items: center;
  align-items: center;
  .card {
    width: calc(90%);
    min-height: calc(100%);
    border: 2px solid $color-azul;
    font-family: Montserrat, sans-serif;
    display: flex;
    text-align: center;
    padding: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    .card-title {
      font-size: 1rem;
      font-weight: 600;
      color: $color-negro;
    }
    .card-text {
      font-size: 0.8rem;
      font-weight: 400;
      color: $color-negro;
    }
    .card-img-top {
      height: 70%;
      width: auto;
      max-width: 60%;
      border: 1px solid $color-negro;
      border-radius: 10%;
    }
  }
}
