#footer {
  min-height: 10vh;
  height: auto;
  color: $color-blanco;
  background-color: $color-negro;
  font-weight: 100;
  font-size: 12px;
  text-decoration: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  #footer__section__p {
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
    gap: 2px;
    margin-left: 40px;
  }
  #footer__section__rrss {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    font-size: 1rem;
    margin-right: 40px;
    a {
      color: $color-blanco;
      text-decoration: none;
      &:hover {
        animation-name: girar_imagen;
        animation-duration: 1s;
        color: $color-amarillo;
      }
    }    
  }
}
