@use "mixins";
@use "variables";

#footer {
  min-height: 10vh;
  height: auto;
  color: variables.$color-blanco;
  background-color: variables.$color-negro;
  font-weight: 100;
  font-size: 12px;
  text-decoration: none;
  @include mixins.flex-direction-justify-alignItems-flexWrap-variable(
    row,
    space-between,
    center,
    wrap
  );
  #footer__section__p {
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
    gap: 2px;
    margin-left: 40px;
  }
  #footer__section__rrss {
    @include mixins.flex-direction-justify-alignItems-variable(
      row,
      space-between,
      center,
      20px
    );
    font-size: 1rem;
    margin-right: 40px;
    a {
      color: variables.$color-blanco;
      text-decoration: none;
      &:hover {
        animation-name: girar_imagen;
        animation-duration: 1s;
        color: variables.$color-amarillo;
      }
    }
  }
}
