#header__section {
  font-family: Oswald, sans-serif;
  @include flex-direction-justify-alignItems-variable(
    row,
    flex-start,
    center,
    100px
  );
  min-height: 15vh;
  height: auto;
  background-color: $color-negro;
  color: $color-azul;
  #header__section__img {
    margin-left: 50px;
    max-width: 120px;
    animation-name: escalar_imagen;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    &:hover {
      animation-name: girar_imagen;
      animation-duration: 1s;
      animation-iteration-count: 1;
    }
  }
  h1 {
    font-size: 1.5rem;
  }
}

#header__nav {
  min-height: 8vh;
  height: auto;
  background-color: $color-azul;
  color: $color-blanco;
  font-size: 0.8rem;
  font-family: Montserrat, sans-serif;
  .navbar-brand {
    text-shadow: 2px 2px 2px $color-negro;
    font-size: 0.9rem;
  }
  #navbarSupportedContent {
    #header__nav__ul {
      .nav-item {
        margin-left: 10px;
      }
      .header__nav__ul__li {
        text-decoration: none;
        .active {
          a {
            text-shadow: 2px 2px 2px $color-negro;
          }
        }
        a {
          color: $color-blanco;
          &:hover {
            color: $color-rojo;
          }
        }
      }
    }
  }
}
