@mixin flex-row-justify-variable($justify, $gap: 0px) {
  display: flex;
  flex-direction: row;
  justify-content: $justify;
  gap: $gap;
}

@mixin flex-row-alignItems-variable($alignItems) {
  display: flex;
  flex-direction: row;
  align-items: $alignItems;
}

@mixin flex-direction-justify-alignItems-variable(
  $direction,
  $justify,
  $alignItems,
  $gap: 0px
) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $alignItems;
  gap: $gap;
}

@mixin flex-direction-justify-alignItems-flexWrap-variable(
  $direction,
  $justify,
  $alignItems,
  $flexWrap,
  $gap: 0px
) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $alignItems;
  gap: $gap;
  flex-wrap: wrap;
}