@mixin flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin box-model($width, $height, $border, $padding) {
  width: $width;
  height: $height;
  border: $border;
  padding: $padding;
}

.btn1 {
  @include box-model(100px, 50px, 5px, 10px);
}
