/********************************************************/
/***********************movil vertical******************/
/********************************************************/
@media screen and (max-width: 600px) {
  #header__section {
    min-height: 10vh;
    justify-content: center;
    gap: 20px;
    #header__section__img {
      margin-left: 0px;
      max-width: 80px;
    }
    h1 {
      font-size: 1rem;
    }
  }

  #main {
    min-height: 60vh;
    height: auto;
    #main__section {
      padding: 10px 20px 10px 20px;
      gap: 10px;
      flex-direction: column;
      #main__section__presentacion {
        margin-top: 1rem;
      }
      #main__section__img {
        max-width: 300px;
        margin-top: 1rem;
        margin-bottom: 1rem;
      }
      #main__section__presentacion__ul {
        padding-left: 10px;
      }
    }
  }

  #footer {
    min-height: 10vh;
    height: auto;
    flex-direction: column;
    padding: 0px;
    #footer__section__p {
      margin: 0px;
      padding-top: 0.5rem;
      font-size: 0.9rem;
      text-align: center;
      p {
        margin: 0px;
        text-align: center;
      }
    }
    #footer__section__rrss {
      gap: 50px;
      margin-right: 0px;
      padding-top: 10px;
      padding-bottom: 0.5rem;
      a {
        font-size: 1.5rem;
      }
    }
  }

 /*PRODUCTOS*/
 #section_productos_listado {
  padding-top: 10px;
  padding-bottom: 10px;
  grid-template-columns: repeat(1, 1fr);
  .card {
    width: 45vh;
    height: ($media-query-phone_height)-($media-query-phone-height/1.7);
    padding: 0px;
    .card-title {
      font-size: 0.8rem;
    }
    .card-img-top {
      //max-height: 120px;
      max-width: 30vh;
    }
  }
}
  /*CONTACTO*/
  #main__section_contacto {
    margin-top: 0px;
    #main__section__contacto_image__img,
    #main__section__contacto_descrip {
      display: none;
    }
    #main__section__contacto_descrip_mobile {
      display: block;
    }
  }
}

/********************************************************/
/***********************tablet vertical******************/
/********************************************************/
@media screen and (min-width: 601px) and (max-width: 767.98px) {
  #header__section {
    min-height: 10vh;
    justify-content: center;
    gap: 20px;
  }
  #main {
    min-height: 60vh;
    height: auto;
    #main__section__img {
      max-width: 300px;
    }
  }

  #footer {
    min-height: 10vh;
    height: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    flex-direction: column;
    #footer__section__p {
      p {
        margin: 0px;
        padding: 0px;
        text-align: center;
        font-size: 0.9rem;
      }
    }
    #footer__section__rrss {
      gap: 50px;
      margin-right: 0px;
      padding-top: 10px;
      font-size: 1.6rem;
    }
  }
  /*PRODUCTOS*/
  #section_productos_listado {
    grid-template-columns: repeat(3, 1fr);
  }
  /*CONTACTO*/
  #main__section_contacto {
    margin-top: 0px;
    #main__section__contacto_image__img {
      display: none;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1400px) {
  #footer {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    #footer__section__p {
      p {
        font-size: 0.8rem;
        margin: 0px;
      }
    }
    #footer__section__rrss {
      a {
        font-size: 1.2rem;
      }
    }
  }
  #main__section__img {
    max-width: 400px;
  }
  /*PRODUCTOS*/
  #section_productos_listado {
    padding-top: 10px;
    padding-bottom: 10px;
    grid-template-columns: repeat(4, 1fr);
    .card {
      width: ($media-query-desktop/4);
      height: ($media-query-desktop/4)-40px;
      padding: 0px;
      .card-title {
        font-size: 0.8rem;
      }
      .card-img-top {
        max-height: 120px;
      }
    }
  }

  /** CONTACTO **/

  #main__section_contacto {
    #main__section__contacto_descrip {
      p {
        margin-top: 0px;
        font-size: 0.8rem;
      }
    }
    #main__section__form {
      label,
      input,
      textarea,
      select {
        margin: 0px;
        font-size: 0.7rem;
      }
    }
    #main__section__contacto_image {
      #main__section__contacto_image__img {
        margin-top: 10%;
        max-width: 350px;
      }
    }
  }
}

@media screen and (min-width: 1401px) {
  #footer {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    #footer__section__p {
      p {
        font-size: 0.9rem;
        margin: 0px;
      }
    }
    #footer__section__rrss {
      a {
        font-size: 1.6rem;
      }
    }
  }
  #main {
    gap: 10px;
    #main__section__img {
      max-width: 500px;
    }
  }

  /*PRODUCTOS*/
  /*
  #section_productos_listado {
    grid-template-columns: repeat(4, 1fr);
  }*/
}
