
/* Variables de tipografía - Inicio */
/* Tipografía Oswald */
.oswald-weight-700 {
    font-family: 'Oswald', sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }
  
  /* Tipografía Montserrat */
  .montserrat-500 {
    font-family: 'Montserrat', sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }
  /* Variables de tipografía - Fin */
  
  