$color-amarillo: #eaa315;
$color-azul: #0071bc;
$color-blanco: #ffffff;
$color-rojo: #fa8375;
$color-negro: #000000;

$media-query-phone-width: 320px;
$media-query-phone-height: 568px;
$media-query-tablet: 768px;
$media-query-desktop: 1024px;
$media-query-laptop: 1200px;
$media-query-desktop-large: 1400px;
