/* Variables de color */
:root {
  --amarillo: #eaa315;
  --azul: #0071bc;
  --blanco: #ffffff;
  --rojo: #fa8375;
  --negro: #000000;
}

/* Variables de tipografía - Inicio */
/* Tipografía Oswald */
.oswald-weight-700 {
  font-family: 'Oswald', sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

/* Tipografía Montserrat */
.montserrat-500 {
  font-family: 'Montserrat', sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
/* Variables de tipografía - Fin */

/* Resetear estilos */
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

/* HEADER - Inicio */
#header__section {  
  font-family: Oswald, sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-height: 15vh;
  height: auto;
  gap: 100px;
  background-color: var(--negro);
  color: var(--azul);  
}

#header__section h1 {
  font-size: 1.5rem;
}

#header__section__img {
  margin-left: 50px;
  max-width: 120px;
}
/* HEADER - Fin */
/* NAV - Inicio */
#header__nav {
  min-height: 8vh;
  height: auto;
  background-color: var(--azul);
  color: var(--blanco);
  font-size: 0.8rem;
  font-family: Montserrat, sans-serif;
}

.navbar-brand{ 
  color: var(--blanco);
  text-shadow: 2px 2px 2px var(--negro);
  font-size: 0.9rem;
}
#navbarSupportedContent{
  background-color: var(--azul);
  color: var(--blanco);
}

#navbarSupportedContent #header__nav__ul .nav-item {
   margin-left: 10px; 
}

.header__nav__ul__li.active a {
  text-decoration: none;
  text-shadow: 2px 2px 2px var(--negro);  
}

.header__nav__ul__li a {  
  color: var(--blanco);
  text-decoration: none; 
}

.header__nav__ul__li a:hover {  
  text-decoration: none;
  color: var(--rojo);
}
/* NAV - Fin */

/* MAIN-Pagina principal - INICIO */
#main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 67vh;
  height: auto;
  gap: 20px;
  color: var(--negro);
  font-family: Lato, sans-serif;
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 1.2rem;
}

#main__section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 20px 0px 20px;
  gap: 0px;
}

#main__section__presentacion p {
  margin-bottom: 0px;
}

#main__section__presentacion__ul {
  padding-left: 40px;
  font-style: italic;
  font-weight: 400;
}

#main__section__img {
  max-width: 500px;
}
/* MAIN-Pagina principal - FIN */

/* FOOTER - INICIO */
#footer {
  background-color: var(--negro);
  /*height: 10vh;*/
  min-height: 10vh;
  height: auto;
  color: var(--blanco);
  font-weight: 100;
  font-size: 12px;
  text-decoration: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

#footer__section__p {
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
  gap: 2px;
  margin-left: 40px;
}

#footer__section__rrss {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  color: var(--blanco);
  color: var(--blanco);
  font-size: 1rem;
  margin-right: 40px;
}

#footer__section__rrss a {
  color: var(--blanco);
  text-decoration: none;
}
/* FOOTER - FIN */

/* Pagina PRODUCTOS - INICIO */
#section__productos_listado{
  margin : 20px 0px 20px 0px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  justify-items: center;
  align-items: center;
}

.article_producto{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border: 2px solid var(--rojo);
  border-radius: 10px;  
  width: 400px;
  height: 300px;
}
.article__producto__img{
  max-width: 350px;
  max-height: 250px;
  
}
.article__producto__h3{
  text-align: center;
}
/* Página PRODUCTOS - FIN */

/* Pagina ACERCA DE - INICIO */
.card-img-top{
  max-width: 200px;
  max-height: 200px;
  align-self: center;
}
/* Pagina ACERCA DE - FIN */

/* Pagina CONTACTO - INICIO */
#main__section_contacto{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: justify;
  gap: 10px;  
}
/* Pagina CONTACTO - FIN */


/*
BREAKPOINTS
MOVIL: 600px
TABLET: 768px
DESKTOP: 1200px
*/

@media (max-width: 600px) {
  #header__section {
    justify-content: space-between
    gap: 20px;
  }
  #header__section h1 {
    font-size: 1rem;
  }
  #header__section__img {
    margin-left: 20px;
    max-width: 80px;
  }
  #main {
    min-height: 67vh;
    height: auto;
  }
  #main__section {
    padding: 10px 20px 10px 20px;
    gap: 10px;
    flex-direction: column;
  }
  #main__section__img {
    max-width: 300px;
  }
  #main__section__presentacion__ul {
    padding-left: 10px;
  }
  #footer {
    margin-top: 12px;
    min-height: 15vh;
    height: auto;
    padding-top: 5px;
    flex-direction: column;   
  }
  #footer__section__p {
    margin: 0px;
  }
  #footer__section__rrss {
    margin-right: 20px;
  }
  /*PRODUCTOS*/
  #section__productos_listado{
    grid-template-columns: repeat(1, 1fr);
  }
  /*
  .article_producto{
    width: 200px;
    height: 200px;
  }
  .article__producto__img{
    width: 70% !important;
    height: 70% !important;
  }*/
}

@media (min-width: 601px) and (max-width: 767.98px) {
  #header__section {
    justify-content: space-between
    gap: 100px;
  }
  #main__section__img {
    max-width: 300px;
  }
    /*PRODUCTOS*/
    #section__productos_listado{
      grid-template-columns: repeat(3, 1fr);
    }
    /*
    .article__producto__img{
      width: 200px;
    }*/
}

@media (min-width: 768px) and (max-width: 1400px) {

  #main__section__img {
    max-width: 400px;
  }
  
  /*PRODUCTOS*/
  #section__productos_listado{
    grid-template-columns: repeat(4, 1fr);
  }
  .article_producto{
    margin: 10 5 10 5;
    width: 300px;
    height: 200px;
  }
  .article__producto__img{
    max-width: 250px;
    max-height: 150px;    
  }
}

@media (min-width: 1401px) {
  #main {
    gap: 10px;    
  }
  #main__section__img {
    max-width: 500px;
  }
  /*PRODUCTOS*/
  #section__productos_listado{
    grid-template-columns: repeat(4, 1fr);
  }  
}
