/* Variables de color */
:root {
  --amarillo: #eaa315;
  --azul: #0071bc;
  --blanco: #ffffff;
  --rojo: #fa8375;
  --negro: #000000;
}

.oswald-weight-700 {
  font-family: 'Oswald', sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.montserrat-500 {
  font-family: 'Montserrat', sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#header__section {
  font-family: Oswald, sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  height: 15vh;
  gap: 100px;
  background-color: var(--negro);
  color: var(--azul);
  font-weight: 700;
}

#header__section__img {
  margin-left: 50px;
  max-width: 120px;
}

#header__nav {
  font-size: 0.9rem;
  height: 8vh;
  background-color: var(--azul);
  color: var(--blanco);  
  font-weight: 500;
  font-family: Montserrat, sans-serif;
}

#header__nav__ul {
  display: flex;
  list-style: none;
  text-decoration: none;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
}

.header__nav__ul__li.active a {
  text-decoration: none;
  text-shadow: 2px 2px 2px var(--negro);
}

.header__nav__ul__li a {
  color: var(--blanco);
  text-decoration: none;
}

.header__nav__ul__li a:hover {
  text-decoration: none;
  color: var(--rojo);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 67vh;
  gap: 20px;
  color: var(--negro);
  font-family: Lato, sans-serif;
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 1.2rem;
}

#main__section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 20px 0px 20px;
  gap: 20px;
}

#main__section__presentacion p {
  margin-bottom: 0px;
}

#main__section__presentacion__ul {
  padding-left: 40px;
  font-style: italic;
  font-weight: 400;
}

#main__section__img {
  max-width: 500px;
}

footer {
  background-color: var(--negro);
  height: 10vh;
  color: var(--blanco);
  font-weight: 100;
  font-size: 12px;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
}

#footer__section__p {
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
  gap: 2px;
  margin-left: 40px;
}

#footer__section__rrss {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  color: var(--blanco);
  color: var(--blanco);
  font-size: 1rem;
  margin-right: 40px;
}

#footer__section__rrss a {
  color: var(--blanco);
  text-decoration: none;
}
